<div class="post-card">
  <div class='post-meta'>
  <h3 class="post-title"><%= @post.title -%> by <%= @post.author.name -%></h3>
  <span class="post-header">
    Comments: <%= @post.comments_counter -%>, Likes: <%= @post.likes_counter -%>
  </span>
  </div>
  <p><%= @post.text -%></p>
</div>

   <%= render partial: 'posts/comments', locals:{comments:@post.comments}%> 
